.wrap {
  display: flex;
}

.wrap img {
  height: 300px;
}

.pic {
  margin: 0 0 0 138px;
}

.pic02 {
  margin: 0 0 0 138px;
}

.pic03 {
  margin: 0 0 0 191px;
}

.words {
  font-size: 16px;
  margin: 19.92px 30px 0 30px;
  text-align: justify;
}

.pic05 {
  margin: 0 0 0 94px;
}
