.appearance {
  height: 300px;
  margin: 20px 30px;
}
iframe{
  margin: 0 30px 30px 90px;
}
.lost_child{
  text-align: center;
}
.nearest_station{
  padding-left: 0px;
}
.info_walking{
  background-image: url(../img/walking.png);
  background-repeat: no-repeat;
  list-style-type: none;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.info_car{
  background-image: url(../img/car.png);
  background-repeat: no-repeat;
  list-style-type: none;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.address_info{
  margin-left: 100px;
  margin-right:100px;
}
.access_menu{
margin-top:20px;
  margin-bottom:5px;
}
p{
    margin-top:5px;
  margin-bottom:5px;

}
